src/stepmania
src/libresample/tests/testresample
*/autom4te.cache
*/Makefile
*/config.cache
*/config.log
*/config.status
*/configure
*.o
*.a
*.so
*.mk
nbproject
*/.deps
*.exe
*.dll
.dep.inc
Makefile
config.log
config.status
configure
autom4te.cache